body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:688px;
  top:137px;
  width:150px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:576px;
  top:200px;
  width:43px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:647px;
  top:198px;
  width:279px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:576px;
  top:317px;
  width:43px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:647px;
  top:318px;
  width:71px;
  height:18px;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9 {
  position:absolute;
  left:718px;
  top:318px;
  width:71px;
  height:18px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:576px;
  top:347px;
  width:71px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:647px;
  top:345px;
  width:279px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:576px;
  top:428px;
  width:71px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:647px;
  top:428px;
  width:141px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u18 {
  position:absolute;
  left:647px;
  top:394px;
  width:61px;
  height:24px;
  font-size:14px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:647px;
  top:458px;
  width:169px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22 {
  position:absolute;
  left:693px;
  top:539px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u23 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:748px;
  top:393px;
  width:29px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:576px;
  top:243px;
  width:43px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:647px;
  top:241px;
  width:279px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:576px;
  top:284px;
  width:71px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:647px;
  top:282px;
  width:279px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:1341px;
  top:182px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:1401px;
  top:182px;
  width:518px;
  height:120px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u37 {
  position:absolute;
  left:798px;
  top:429px;
  width:29px;
  height:20px;
  color:#3399CC;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u39 {
  position:absolute;
  left:826px;
  top:459px;
  width:29px;
  height:20px;
  color:#3399CC;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u45 {
  position:absolute;
  left:1073px;
  top:20px;
  width:85px;
  height:20px;
  color:#999999;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u47 {
  position:absolute;
  left:1184px;
  top:18px;
  width:61px;
  height:24px;
  font-size:14px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u49 {
  position:absolute;
  left:236px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u51 {
  position:absolute;
  left:359px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u53 {
  position:absolute;
  left:479px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u55 {
  position:absolute;
  left:725px;
  top:18px;
  width:37px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u57 {
  position:absolute;
  left:45px;
  top:18px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u59 {
  position:absolute;
  left:201px;
  top:0px;
  width:1px;
  height:60px;
}
#u60 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u61 {
  position:absolute;
  left:604px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:1341px;
  top:348px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:1401px;
  top:347px;
  width:518px;
  height:100px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:1494px;
  top:489px;
  width:300px;
  height:170px;
}
#u69 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70 {
  position:absolute;
  left:1626px;
  top:502px;
  width:37px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:1534px;
  top:554px;
  width:220px;
  height:40px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u74 {
  position:absolute;
  left:1494px;
  top:618px;
  width:300px;
  height:1px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u76 {
  position:absolute;
  left:1644px;
  top:618px;
  width:1px;
  height:41px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:1557px;
  top:629px;
  width:29px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u80 {
  position:absolute;
  left:1702px;
  top:629px;
  width:29px;
  height:20px;
  color:#3399CC;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:1341px;
  top:703px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u85 {
  position:absolute;
  left:1401px;
  top:708px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u87 {
  position:absolute;
  left:1583px;
  top:708px;
  width:155px;
  height:20px;
  color:#3399CC;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89 {
  position:absolute;
  left:1401px;
  top:738px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u91 {
  position:absolute;
  left:1583px;
  top:738px;
  width:127px;
  height:20px;
  color:#3399CC;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93 {
  position:absolute;
  left:1401px;
  top:768px;
  width:99px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u95 {
  position:absolute;
  left:1583px;
  top:768px;
  width:155px;
  height:20px;
  color:#3399CC;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:1401px;
  top:798px;
  width:99px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u99 {
  position:absolute;
  left:1583px;
  top:798px;
  width:155px;
  height:20px;
  color:#3399CC;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u101 {
  position:absolute;
  left:1401px;
  top:828px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u103 {
  position:absolute;
  left:1583px;
  top:828px;
  width:71px;
  height:20px;
  color:#3399CC;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u105 {
  position:absolute;
  left:1401px;
  top:858px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u107 {
  position:absolute;
  left:1583px;
  top:858px;
  width:71px;
  height:20px;
  color:#3399CC;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109 {
  position:absolute;
  left:1401px;
  top:888px;
  width:99px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u111 {
  position:absolute;
  left:1583px;
  top:888px;
  width:99px;
  height:20px;
  color:#3399CC;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u113 {
  position:absolute;
  left:1401px;
  top:918px;
  width:99px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u115 {
  position:absolute;
  left:1583px;
  top:918px;
  width:99px;
  height:20px;
  color:#3399CC;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u117 {
  position:absolute;
  left:1401px;
  top:948px;
  width:141px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u119 {
  position:absolute;
  left:1583px;
  top:948px;
  width:211px;
  height:20px;
  color:#3399CC;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:233px;
  top:76px;
  width:277px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:798px;
}
#u125 {
  position:absolute;
  left:201px;
  top:60px;
  width:1px;
  height:797px;
}
#u126 {
  position:absolute;
  left:2px;
  top:390px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:36px;
  top:127px;
  width:131px;
  height:145px;
}
#u127_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u129 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u129_img.selected {
}
#u129.selected {
}
#u130 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u132 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u128_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u135 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u138 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:0px;
  top:60px;
  width:106px;
  height:20px;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u141 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u144 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:0px;
  top:100px;
  width:106px;
  height:20px;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u147 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:0px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u150 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
