body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:491px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3286 {
  position:absolute;
  left:83px;
  top:70px;
  width:607px;
  height:491px;
}
#u3287 {
  position:absolute;
  left:2px;
  top:238px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3288 {
  position:absolute;
  left:332px;
  top:97px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3289 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3290 {
  position:absolute;
  left:142px;
  top:167px;
  width:211px;
  height:20px;
}
#u3291 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u3292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:2px;
}
#u3292 {
  position:absolute;
  left:142px;
  top:273px;
  width:485px;
  height:1px;
}
#u3293 {
  position:absolute;
  left:2px;
  top:-8px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3294 {
  position:absolute;
  left:314px;
  top:243px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3295 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3296 {
  position:absolute;
  left:157px;
  top:243px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3297 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3298 {
  position:absolute;
  left:516px;
  top:243px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3299 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3300 {
  position:absolute;
  left:142px;
  top:274px;
  width:485px;
  height:40px;
}
#u3301 {
  position:absolute;
  left:2px;
  top:12px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3302 {
  position:absolute;
  left:171px;
  top:284px;
  width:29px;
  height:20px;
}
#u3303 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3304 {
  position:absolute;
  left:321px;
  top:284px;
  width:43px;
  height:20px;
}
#u3305 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3306 {
  position:absolute;
  left:118px;
  top:286px;
  width:23px;
  height:16px;
}
#u3307 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3306_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3308 {
  position:absolute;
  left:142px;
  top:314px;
  width:485px;
  height:40px;
}
#u3309 {
  position:absolute;
  left:2px;
  top:12px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3310 {
  position:absolute;
  left:445px;
  top:284px;
  width:50px;
  height:18px;
}
#u3311 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3310_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3312 {
  position:absolute;
  left:511px;
  top:284px;
  width:50px;
  height:18px;
}
#u3313 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3312_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3314 {
  position:absolute;
  left:571px;
  top:284px;
  width:50px;
  height:18px;
}
#u3315 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3314_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3316 {
  position:absolute;
  left:171px;
  top:324px;
  width:29px;
  height:20px;
}
#u3317 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3318 {
  position:absolute;
  left:321px;
  top:324px;
  width:43px;
  height:20px;
}
#u3319 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3320 {
  position:absolute;
  left:118px;
  top:326px;
  width:23px;
  height:16px;
}
#u3321 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3320_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3322 {
  position:absolute;
  left:445px;
  top:324px;
  width:50px;
  height:18px;
}
#u3323 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3322_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3324 {
  position:absolute;
  left:511px;
  top:324px;
  width:50px;
  height:18px;
}
#u3325 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3324_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3326 {
  position:absolute;
  left:571px;
  top:324px;
  width:50px;
  height:18px;
}
#u3327 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3326_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3328 {
  position:absolute;
  left:142px;
  top:354px;
  width:485px;
  height:40px;
}
#u3329 {
  position:absolute;
  left:2px;
  top:12px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3330 {
  position:absolute;
  left:171px;
  top:364px;
  width:29px;
  height:20px;
}
#u3331 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3332 {
  position:absolute;
  left:307px;
  top:364px;
  width:71px;
  height:20px;
}
#u3333 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3334 {
  position:absolute;
  left:118px;
  top:366px;
  width:23px;
  height:16px;
}
#u3335 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3334_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3336 {
  position:absolute;
  left:445px;
  top:364px;
  width:50px;
  height:18px;
}
#u3337 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3336_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3338 {
  position:absolute;
  left:511px;
  top:364px;
  width:50px;
  height:18px;
}
#u3339 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3338_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3340 {
  position:absolute;
  left:571px;
  top:364px;
  width:50px;
  height:18px;
}
#u3341 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3340_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3342 {
  position:absolute;
  left:315px;
  top:487px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u3343 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3344 {
  position:absolute;
  left:652px;
  top:76px;
  width:30px;
  height:30px;
}
#u3345 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3346 {
  position:absolute;
  left:142px;
  top:147px;
  width:135px;
  height:20px;
}
#u3347 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3348 {
  position:absolute;
  left:142px;
  top:187px;
  width:113px;
  height:20px;
}
#u3349 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3351 {
  position:absolute;
  left:769px;
  top:187px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3352 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3353 {
  position:absolute;
  left:829px;
  top:190px;
  width:467px;
  height:20px;
}
#u3354 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u3356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3356 {
  position:absolute;
  left:769px;
  top:354px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3357 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3358 {
  position:absolute;
  left:829px;
  top:354px;
  width:467px;
  height:54px;
}
#u3359 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u3361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3361 {
  position:absolute;
  left:769px;
  top:431px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3362 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3363 {
  position:absolute;
  left:829px;
  top:431px;
  width:467px;
  height:54px;
}
#u3364 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
