body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4 {
  position:absolute;
  left:1073px;
  top:20px;
  width:85px;
  height:20px;
  color:#999999;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6 {
  position:absolute;
  left:1184px;
  top:18px;
  width:61px;
  height:24px;
  font-size:14px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u8 {
  position:absolute;
  left:236px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u10 {
  position:absolute;
  left:359px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:479px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u14 {
  position:absolute;
  left:725px;
  top:18px;
  width:37px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:45px;
  top:18px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u18 {
  position:absolute;
  left:201px;
  top:0px;
  width:1px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20 {
  position:absolute;
  left:604px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:321px;
  top:149px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:381px;
  top:154px;
  width:519px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:798px;
}
#u29 {
  position:absolute;
  left:201px;
  top:60px;
  width:1px;
  height:797px;
}
#u30 {
  position:absolute;
  left:2px;
  top:390px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:36px;
  top:127px;
  width:131px;
  height:145px;
}
#u31_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u33 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u36 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u32_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u39 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u42 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:0px;
  top:60px;
  width:106px;
  height:20px;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u48 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:0px;
  top:100px;
  width:106px;
  height:20px;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u51 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:0px;
  top:120px;
  width:106px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u54 {
  position:absolute;
  left:3px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
